.header {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

body {
  color: rgb(65,72,86);
  font-family: arial;
}
h1 {
 font-size: 40px;
 text-align: center;
 padding: 20px;
}
h2, h3, h4 {
  font-size: 30px;
 text-align: center;}

img {display: flex; /*allows for fexible placing*/
  padding: 20px; /*sets padding size on all4 size of element*/
  margin: 0 auto;
  border-radius: 10px;
  max-height: 400px;
  max-width: 600px;
 }
  ol{
    list-style: none;
    padding: 0;
    margin-bottom: 2%;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
  }

  p{
  color:rgb(0,100,0);
  display: flex;
  justify-content: cente;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
}
footer{  padding: 0px;
  text-align: center;
  background-color:rgb(34,139,34);
  color: white;
}
ul.notnav {list-style: circle;
padding: 0;
margin-bottom: 10%;
font-size: 20px;
display: flex;
justify-content: space-evenly;}

div.ereduction {
  font-size: 30px;
}

/*
.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; Animation
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.25);  (150% zoom - Note: if the zoom is too large, it will go outside of the viewport)
} */
